doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something awesome!
    p Shabby chic sustainable deserunt, plaid iPhone four dollar toast schlitz vero. Lo-fi hell of ad, lumbersexual try-hard pug cray. Tacos next level kitsch palo santo art party.
